# Enable URL rewriting
RewriteEngine On

# If the requested path is not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# PHP error handling
php_flag display_errors on
php_value error_reporting E_ALL

